@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --fonte01: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte02: ;
    --fonte03: "Playwrite GB J", cursive;
}

html {
    font-size: 62.5%; /* Ideal porque 1rem dessa forma equivale a 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top right, rgb(29, 29, 29), rgb(41, 41, 43), black);
    font-family: var(--fonte01);
    font-size: 1.6rem;
    min-height: 100vh;
    animation-duration: 0.2s;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header {
    font-family: var(--fonte01);
    padding: 6rem;
    text-align: center;
    background-color: #111111;
    color: #fff;
    box-shadow: 0px 10px 100px 0px #0000004f;
}

header .title {
    font-size: 5.3rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
}

header p {
    font-size: 2.6rem;
    padding-top: 1rem;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.253);
}

section {
    padding-top: 9vh;
    padding-bottom: 9vh;
}

section p {
    font-family: var(--fonte03);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 520;
    line-height: 5rem;
    padding-bottom: 50px;
}

.image {
    background-color: rgb(73, 73, 73);
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.349);
    background-attachment: fixed;
}

#image01 {
    background-image: url(assets/imagens/jarosik99-meadowsweet-8009380_1280.jpg);
    background-position: center center;
    background-size: cover;
}

#image02 {
background-image: url(assets/imagens/anniespratt-vintage-2168174_1280.jpg);
background-position: left top;
background-size: cover;
}

.image p {
    text-shadow: 1px 1px 0px black;
    background-color: #0c0c0cbd;
    box-shadow: 3px 3px 105px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    color: #fff;
    padding: 2rem 0;
    max-width: 500px;
    margin: auto;
}

footer {
    font-family: var(--fonte01);
    padding: 15px;
    color: #fff;
    background-color: #111111;
    text-align: center;
}